html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(to right, #8a00c2, #a000c8, #b100cd);
}


ul li{
    font-size: 20px;
    padding-top: 20px;
}

ul li:hover {
    text-decoration: underline;
    color: #e69b00;
    font-weight: 700;
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #e69b00;
    font-size: 100px;
}

#play-game{
  background-color: #e69b00;
  margin-left: 44%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#flex{
  margin-top: 40px;
}

#players-car{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#root{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

  .container {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
  }

  td {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .the-input{
    background-image: linear-gradient(to left, #8a00c2, #a000c8, #b100cd);
  }

  .number {
    font-size: 200px;
  }

  .insert-number{
    background-color: #e69b00;
    margin-left: 43%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
  }

  footer {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
